<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="dark">
        <meta property="og:site_name" content="champ.faith">
        <meta property="og:title" content="Champ 😊">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://champ.faith/">
        <meta property="og:description" content="become a member of our exclusive community 😇">
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/778758610376851466/931323229983895552/default.png">
        <meta name="theme-color" content="#FFFFFF">
        <title>Home - 🙏</title>
        <link href="/static/css/index.css" rel="stylesheet">
        <script async src="/static/js/index.js"></script>
    </head>
    <body>
        <div class="loading" id="welcome">
            <img class="main" id="avatar" src="/static/images/avatar/1.webp">
        </div>
        <div>
            <div class="main">
                <h1><a href="/login">champ.faith</a></h1>
                <p>join</p>
            </div>
            <div class="footer">
                <a href="/discord" target="_blank">Discord server</a>
            </div>
            <div class="background">
                <div class="pattern"></div>
                <video class="background-video main" id="video" type="video/webm" src="/static/images/bg.webm" poster="/static/images/mobilebg.webp" disablePictureInPicture loop></video>
            </div>
        </div>
    </body>
</html>